<header>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 logo">Your Logo</div>
         <div class="col-md-10 text-right" style="margin-top:10px;"><button class="btn btn-primary">Logout</button></div>
         </div>
    </div>
    </header>
<section>
  <div class="col-md-2 sidebar-menu">
<nav>
  <ul>
    <li>
  <a routerLink="/user-list" routerLinkActive="active">User list</a>
  </li>
  <li>
  <a routerLink="/add-user">Add User</a>
  </li>
  </ul>
</nav>
  </div>
<div class="col-md-10">
<router-outlet></router-outlet>
</div>
</section>